*, ::after,::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

.raagsongo{
    width:160px;
    height: 30px;
    margin-left: 15%;
}
.raagsongo h1{
    position: relative; 
    top: -10px; 
    font-size: 30px;
    color: #fd7e14;
}

.ads{
    width:160px;
    height: 30px;
    background: #fd7e14;
}
.ads a{
    position: relative; 
    top: -11px; 
    font-size: 30px;
}

@media screen and (max-width: 950px) {
    .raagsongo{
        padding-left: 0;
    }
}

.div-ads{
    max-width: 1000px;
    width: 80%;
    margin-left: 10%;
}
.div-ads div .div-card-body{
    margin-left: 4.5%;
    width: 91%;
}

/*ads of same category in show detail page ads*/
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
  transform: translateX(0);
  }
  